@import '../../util.scss';

.fifth {
    width: 100vw;
    height: 100vh;
    padding: 10vw 10vw 0 10vw;
    background-color: var(--fifth-color);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    h1 {
        font-size: tvw(40);
        position: relative;
        text-align: center;
        margin-bottom: 5vw;
    }
    img {
        width: 100%;
        display: block;
        box-shadow: 0px 0px 52px -10px #17665a;
        border-radius: 1vw;
    }
    section {
        width: 100%;
        margin-bottom: 10vw;
        .left {
            text-align: left;
        }
        .right {
            text-align: right;
            margin-bottom: 15vw;
            margin-top: 10vw;
        }
        > p {
            text-align: center;
        }
        strong {
            font-size: tvw(30);
        }
    }
}
