@import '../../util.scss';

.first {
    width: 100vw;
    height: 100vh;
    background-color: var(--first-color);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 10vw;
    .hi {
        font-size: tvw(60);
        margin: 20vw 10vw 0 10vw;
        text-align: center;
    }
    section {
        margin-bottom: 10vw;
        .content {
            margin: 5vw 0 20vw 10vw;
            text-align: right;
        }
        .past {
            text-align: center;
            width: 100%;
        }
    }
}
